.Education {
	display: flex;
	flex-flow: column;
	width: 98%;
	align-self: center;
}

.school {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.Education  .info {
	display: flex;
	justify-content: space-between;
	font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#courses, #committees, #clubs {
	width: 33%;
}

.column ul {
	margin-top: 5px;
	margin-bottom: 5px;
}