.ExperienceSection {
	width: 100%;
	display: flex;
	flex-flow: column;
}

.Experience {
	display: flex;
	flex-flow: column;
	width: 98%;
	align-self: center;
	
}

.Experience .desc {
	font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.Experience  .info {
	display: flex;
	justify-content: space-between;
	font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.Experience .info .title {
	font-style: italic;
}

.Experience .company {
	display: flex;
	justify-content: space-between;
	font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.Experience .company .name {
	font-weight: bold;
}

.Experience .company .location {
	font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.Experience .info .title {
}

.Experience .info .date {
}