.row {
	display: flex;
	width: 100%;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
	width: 100%;
}

.column {
	display: flex;
	flex-flow: column;
}

.filler {
	flex-grow: 1
}

.w-25 {
	width: 25%;
}

.screenshot {
  width: 100%;
  height: 35vh;
	object-fit: cover;
	object-position: center 25%;
  margin-top: 5px;
}

img {
	object-fit: cover;
	width: 100%;
	margin-top: 5px;
}

.container-col {
	display: flex;
	flex-flow: column;
	width: 98%;
	align-self: center;
}

.container {
	display: flex;
	width: 98%;
	align-self: center;
}

.center {
	justify-content: center;
}

.icon {
  margin: 3px;
  max-width: 100%;
  height: auto;
}

.heading {
	font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
	margin-top: 15px;
}

.heading-1 {
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.heading-2 {
	font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.heading-3 {
	font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.text {
	font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.semi-bold {
	font-weight: 600;
}

.highlight {
	/* color: #f26d21; */
	color: #107896;
	font-weight: 650;
}