.MenuBar {
	width: 100%;
	background-color: rgb(210, 213, 230);
	display: flex;
}

.MenuOption {
	font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
	padding: 0.35% 1% 0.35% 1%;
	color: black;
}

.MenuOption:hover, .MenuOption:hover * {
	background-color: rgb(35, 126, 236);
	color: white;
}

.MenuOption a {
	color: black;
	text-decoration: none;
	height: 100%;
}

.MenuOption #me {
	font-weight: bold;
}

.MenuBar [data-id="tooltip"] {
	font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.MenuBar .react-icon {
	padding: 0.35% 0.75% 0.35% 0.75%;
	font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}