.App { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: #7fd1ae;
  overflow: hidden;
}

#main-content {
  width: 100vw;
  flex: 1;
  align-items: center;
}

.folders {
  width: 10vw;
  left: 90vw;
}

.hint {
	z-index: 0;
	color: #004200;
	top: 45vh;
	position: absolute;
	text-align: center;
}

